services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"        # проброс порта для локального доступа
    volumes:
      - pgdata:/var/lib/postgresql  # новый путь для PG18+ (не data!)

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"          # доступ к pgAdmin через браузер
    depends_on:
      - postgres

volumes:
  pgdata:
